# This is Algebra
a * 2  is Multiplication <br>
a ** 2 is exponentiation <br>
a / 2  is true division <br>
a // 2 is floor division i.e. same as true division but displays the highest rounded integer not greater than the result <br>
a % 2 is remainder like a mod

# Escape Characters

In [128]:
print ('Welcome\
 to us') # use of '\' allows to put the code in separate line

print ('Welcome\nto\nPython') # '\n' separates into different line

print ('Welcome\tto\tUS') # '\t' moves the next text to one tab over

print ('welcome \\ to Nepal') # '\\' adds '\' to text

print ('welcome \" to Nepal') # '\""' adds '"' to text

Welcome to us
Welcome
to
Python
Welcome	to	US
welcome \ to Nepal
welcome " to Nepal

In [64]:
print ("""Display "this" as 'that'""") # Triple quotes help with encolosing other quotes

Display "this" as 'that'

# Getting Input

In [74]:
#Getting Input From the User
value1 = input ('What is the first number:')
value2 = input('What is the second number:')
value1 + value2
# Above "input" function always returns string even if you are asking for numeric

#If integer value is needed do below
value  = input('Enter an integer:')
value = int(value) # "int" function coverts input string into an integer. If string is entered, it will be an error
value

What is the first number:2
What is the second number:2
Enter an integer:2

2

In [76]:
int(10.5) #int can also convert a floating number into an integer

10

# These are operators
<pre>
#Comparison Operators <br>
    # > 'greater than' <br>
    # < 'less than' <br>
    # == 'equal to' <br>
    # >= 'greater than equal to' <br>
    # <= 'less than equal to' <br>
    # != 'not euqal to' <br>

#logic Operators <br>
    #and, or, not  <br>

#Identity Operators <br>
    #is, is not <br>
    
#Membership Operators <br>
    #in, not in 
    </pre>

In [80]:
print('Enter two integers, and I will tell you',
'the relationships they satisfy.') #if sentences are too long, this is a way to break them

Enter two integers, and I will tell you the relationships they satisfy.

In [85]:
x = 3
type (x) #type function displays whether the type of the variable is int, str, or float

int

In [107]:
"""Here is some functions used to summarize data"""

min(12,34,45) #display min of the values - result is 12
max(12,34,45) #displays max of the values - result is 45

45

# If, While, For Statements

In [109]:
"""All the statements in a suite must have the same indentation. Example below - they are in the same line"""
grade = 80
if grade >= 60:
    print('Passed')
    print('Good job!')

Passed
Good job!

In [114]:
#Using if else elif statements
grade = 70
if grade >= 90:
    print('A')
elif grade >= 80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >= 60:
    print('D')
else:
    print('F')

C

In [116]:
#Using while statements

#Power of 3 larger than 50

power = 3
while power <= 50:
    power = power * 3
power

81

In [306]:
#Using For statements

#Display programming separated by two spaces

for character in 'programming':
    print (character, end = '  ')  # 'end=' is an argument that specifies what needs to happen after each print

p  r  o  g  r  a  m  m  i  n  g

In [307]:
#List Comprehension
"""The code below:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

-- can be written as below
"""

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [125]:
#another argument called 'sep='
print (10,20,30, sep=', ')  #here it displays each items in print separated by comma and a space

10, 20, 30

In [127]:
"""Using List. List is a comma separated collection of items enclosed in square brackets"""
total = 0
for number in [2, -3, 0, 17, 9]: #here the five integers are in a list. 
    total = total + number
total

25

In [133]:
#"For" example: Display values from 0 to 9 using range function

for display in range(10):
    print (display, end ='')

0123456789

In [136]:
# 'Augmented Assignments' = += 
total = 0
for number in [1, 2, 3, 4, 5]:
    total += number  # add number to total and store in number instead of using "total = total + number"
total

15

In [143]:
# using formatted strings. Example: f'' is used to format the string and you can put values by using {}
a = 7
b = 5
print(f'{a} times {b} is {a*b}')

7 times 5 is 35

# Using Sentinel - Controlled Repetition

Sentinel value also called dummary or flag or signal value indicates "end of data entry" <br>
Example: let's say you are entering class grades of 98, 96, 95 and -1. Here -1 grade isn't possible. <br>
Therefore, -1 acts as a sentinel value i.e. it ends the input required from the user to move into calculation

In [156]:
#Class average program with sentinel-controlled iteration i.e. ask for grades until terminated

#pseudocode can be divided into "initialization phase", "processing phase" and "termination"

initial = 0 #sum of grades
grade_count = 0 #number of grades input by user

grade = int(input('Enter grade, -1 ends the program: ')) #ask for first input
while grade != -1:
    initial += grade
    grade_count += 1
    grade = int(input('Enter grade, -1 ends the program: '))

if grade_count != 0:
    average = initial/grade_count
    print (f'Class average is {average}')
else:
    print('No Grades were entered')

Enter grade, -1 ends the program: 40
Enter grade, -1 ends the program: 40
Enter grade, -1 ends the program: -1
Class average is 40.0

In [271]:
# Another example: 
# Given list of 10 students, ask for pass or fail input, 1 = pass, 2 = fail
# Then, count number of students that passed/failed

passed = 0
failed = 0

for student in range(10):
    result = int(input('Enter the result (1 for pass, 2 for fail): '))
    
    if result == 1:
        passed = passed + 1
    else:
        failed = failed + 1
print ('Passed total:',passed)
print ('Failed total:', failed)

if passed > 8:
    print ('Bonus to instructor')

Enter the result (1 for pass, 2 for fail): 1
Enter the result (1 for pass, 2 for fail): 2
Enter the result (1 for pass, 2 for fail): 2
Enter the result (1 for pass, 2 for fail): 2
Enter the result (1 for pass, 2 for fail): 2
Enter the result (1 for pass, 2 for fail): 2
Enter the result (1 for pass, 2 for fail): 2
Enter the result (1 for pass, 2 for fail): 2
Enter the result (1 for pass, 2 for fail): 2
Enter the result (1 for pass, 2 for fail): 2
Passed total: 1
Failed total: 9

# Miscellaneous 

1. Decimals  - check book pages 102 - 105 , pdf page from 156 - 159 <br>
2. break and continue --> Use break or continue in the middle of for or while loop. <br>
  2.1 'break' breaks/terminates the loop while 'continue' skips <br>
3. You can use 'and' 'or' operators in Python but to use 'not', do 'not (a>b)' i.e. 'a is not greater than'

In [192]:
# Example
var = 10                    
while var > 0:
    var = var -1

    if var == 5:
        break
    print ('Current variable value :', var)

print ("Good bye!")

Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6
Good bye!

In [204]:
import statistics
#to import statistics module, provides function to calculate mean, median and mode

grades = [85, 93, 45, 89, 85]
statistics.mean(grades) #this code means 'access statistics module and then call mean'
sorted(grades) #to sort the list

[45, 85, 85, 89, 93]

# Functions & Math

In [222]:
"""Calculate the square of number. 
The below function defines a square function that calculates the square of 
its argument."""

def square(number):
    return number ** 2

square(7)

49

In [228]:
square?

#this allows user to view a function's docstring to learn how to use the. use 'square??' for functions imported from other sessions

In [15]:
import random #random module is useful for simulation and game playing
"""Produce 10 random integers to simulate a rolling six sided dice"""

for roll in range(10):
    print(random.randrange(1,7), end=' ')
    
#to be able to keep the same random number use seed() before the function

4 4 6 6 4 1 2 6 6 6

In [270]:
"""Game: Crap --> played randomly by program"""

import random

def roll_dice():
    """Roll two dice and return their face values as a tuple."""
    die_first = random.randrange(1, 7)
    die_second = random.randrange(1, 7)
    return (die_first, die_second)  # pack die face values into a tuple

def display_dice_value(dice):
    """Display one roll of the two dice."""
    die_first, die_second = dice  # unpack the tuple into variables die1 and die2
    print(f'Player rolled {die_first} + {die_second} = {sum(dice)}')

die_values = roll_dice()  # first roll
display_dice_value(die_values)

# determine game status and point, based on first roll
sum_of_dice = sum(die_values)

if sum_of_dice in (7, 11):  # win
    game_status = 'WON'
elif sum_of_dice in (2, 3, 12):  # lose
    game_status = 'LOST'
else:  # remember point
    game_status = 'CONTINUE'
    my_point = sum_of_dice
    print('Point is', my_point)

# continue rolling until player wins or loses
while game_status == 'CONTINUE':
    die_values = roll_dice()
    display_dice_value(die_values)
    sum_of_dice = sum(die_values)

    if sum_of_dice == my_point:  # win by making point
        game_status = 'WON'
    elif sum_of_dice == 7:  # lose by rolling 7
        game_status = 'LOST'

# display "wins" or "loses" message
if game_status == 'WON':
    print('Player wins')
else:
    print('Player loses')

Player rolled 5 + 1 = 6
Point is 6
Player rolled 4 + 4 = 8
Player rolled 2 + 6 = 8
Player rolled 4 + 2 = 6
Player wins

In [237]:
import math #math module functions

#all the functions are available at: https://docs.python.org/3/library/math.html
#Example:

math.sqrt(900)

30.0

In [241]:
def rectangle_area (length = 2, width = 3):
    return length*width

rectangle_area(10) #applies 10 to length, if put (10,5) then applies 10 to lenth and 5 to width

30

In [244]:
#Arbitrary Argument Lists
"""
The function’s documentation states that min has two required parameters (named arg1
and arg2) and an optional third parameter of the form *args, indicating that the function
can receive any number of additional arguments. The * before the parameter name tells
Python to pack any remaining arguments into a tuple that’s passed to the args parameter. """

def average(*args):
    return sum(args)/len(args)

average(5,10,15,20,25)

15.0

In [246]:
#use of * can be also be used to unpack tuple's, list's etc. 
grades = [88,75,96,55]
average(*grades)

78.5

In [248]:
#you can also call an object that is defined using period

s = 'Hello'
s.lower()

'hello'

In [249]:
#to make a variable global just type 'global x' where x is the variable

In [252]:
from math import ceil, floor #you can import certain identifiersin a module using this. You can also import everything if you type 'from math import *' - however, don't do it
ceil(10.3)

#you can also assign an abbreviation to a module
import statistics as stat
grades = [10,20,30]
stat.mean(grades)

20

# Lists & Tuples

- Lists can store both homogeneous and heterogeneous data. Square bracket denotes lists.
    - Example: c1 = [10,20,-30] and c2 = [10,'Smith']
    - Lists are indexed from 0 and you can call the elements within the list as such. Example:  c1[2] is -30. Index can also be negative and starts from backwards. c2[-1] is 'Smith'
    - Lists are mutable i.e. the elements inside lists can be modified. Example: c1[1] = 18 will replace 20 from c1 by 18. 
    - You can also use comparison operators and concatenation on two or more lists

In [257]:
#empty lists

a_list = []
for number in range (1,6):
    a_list += [number]
a_list

#In line 5, if left operand is a list. a_list is a list then left operand must be iterable.

[1, 2, 3, 4, 5]

- Tuples can also store both homogenous and heterogenous data. It's created using parenthesis. 
    - Example: student = ('pink','green', 4.4)
    - Tuples are immutable.

In [267]:
student_tuple = ('Amanda', 'Blue', [98, 65, 87])
student_tuple[2][1] = 85
student_tuple
#even though tuple isn't immutable, lists inside the tuple is.

('Amanda', 'Blue', [98, 85, 87])

In [268]:
#unpacking sequences - you can assign a variable to sequences within tuple

student_tuple = ('Amanda', [98, 65, 87])
first_name, grades = student_tuple
first_name

'Amanda'

In [272]:
#using enumerate - used for accessing an element's index
colors = ['red', 'blue', 'yellow']
for index, value in enumerate(colors):
    print(f'{index}: {value}')

0: red
1: blue
2: yellow

In [288]:
"""Displaying a bar chart using enumerate"""

numbers = [10, 5, 15, 7, 12]
print (f'Index {"Value":>8}   Bar')
for index, value in enumerate (numbers):
    print (f'{index:>5}{value:>9}   {"*" * value}')

Index    Value   Bar
    0       10   **********
    1        5   *****
    2       15   ***************
    3        7   *******
    4       12   ************

In [290]:
#Slicing

numbers = [2, 3, 5, 7, 11, 13, 17, 19, 23, 25]
numbers [::3] #slicing with a step of 3

[2, 7, 17, 25]

In [292]:
#deleting from list

del numbers [0:2]
numbers

#use 'sort' to sort the list, if descending use sort(reverse=True)
#use reverse() to reverse the contents

[11, 13, 17, 19, 23, 25]

In [299]:
#passing a list to a function
def modify_elements(items):
    """"Multiplies all element values in items by 3."""
    for A in range(len(items)):
        items[A] *= 3
    return(items)

numbers = [10, 3, 7, 1, 9]
modify_elements(numbers)
numbers

[30, 9, 21, 3, 27]

In [305]:
[item for item in range(1,6)]

[1, 2, 3, 4, 5]

In [316]:
#Using lambda instead of a function
#Synatx: lambda arguments:expression

x = lambda a : a +20 #Add 20 to argument a, and return the result:
print(x(5))

25

In [324]:
#returns the mutilple of 3 of an input number
def myfunc(n):
  return lambda a : a * n #takes one argument and multiplies it by an unknown number

mytripler = myfunc(3)
print(mytripler(11))

33

In [325]:
#function called 'filter' tests each element in the seuquence to be true or not
# Syntax: filter (function, sequence)

# a list contains both even and odd numbers. 
seq = [0, 1, 2, 3, 5, 8, 13]
  
# result contains odd numbers of the list
result = filter(lambda x: x % 2 != 0, seq)
print(list(result))

[1, 3, 5, 13]

In [1]:
#Two-dimensional List
a = [[77, 68, 86, 73], 
     [96, 87, 89, 81], 
     [70, 90, 86, 81]]
a [1][1] #prints row 1 column 1 from above list

87

# Dictionaries
- A dictionary has keys and values - together called items. Each key maps to a specific value.
    - Keys must be immutable and unique
    - Example: country_codes = {'Finland': 'fi', 'South Africa': 'za','Nepal': 'np'}
        - You can empty dictionary using 'country_codes.clear'
        - To access the value. Ex: country_codes['South Africa'] will give 'za'
        - To add the value. Ex: country_codes['United States'] ='US'
        - To convert dictionary 'keys' into list. Ex: list(country_codes.keys()) will give ['Finland', 'South Africa', 'Nepal]. Just change 'keys' into 'values' or 'items' to create other lists. 
        - To update dictionary. Ex: country_code({South Africa='ze'})
        - Empty dictionary: Ex. country{}

In [29]:
#Iterating a Dictionary using 'items'. Items returns each key-value pair as a tuple

days_per_month = {'January': 7, 'February': 28,'April': 12}
for month, days in days_per_month.items():
    print(f'{month} has {days} days')

January has 7 days
February has 28 days
April has 12 days

In [28]:
#Besides using del to delete a key-value pair, 'pop' can be used
days_per_month = {'January': 7, 'February': 28,'April': 12}
days_per_month.pop('April')
days_per_month

{'January': 7, 'February': 28}

In [27]:
#using for to access dictionaries keys and values

months = {'January': 1, 'February': 2, 'April': 3}
for month_name in months.keys():
    print(month_name, end=' ') #prints keys of the dictionary
    
    
for month_number in months.values():
    print(month_number, end=' ') #prints values of the dictionary

January February April 1 2 3

In [26]:
months_view = months.keys()
months_view
for key in months_view:
    print(key, end=' ') #key thing to note here is that in Python "key" function is equal to not the index but the

January February March

# SETS

- Unordered collection of unique values. If you print a set, the order will be different.
    - Example of a set: colors = {'red', 'orange', 'yellow', 'green', 'red', 'blue'}
- Sets only omits any duplicate elements. 
- Only contains immuatable objects i.e. sets itself are mutable must set elemets aren't, are iterable but the sequences and strings can't be sliced or indexed. Iterable means you can use for loop. However, since sets are unordered there is no much significance to it. 
- TO create an empty set. Use 'a = set()'

- <b> The '<' operator tests whether the set to its left is a proper subset of the one to its
right—that is, all the elements in the left operand are in the right operand, and the sets are
not equal. It doesn't mean less than equal to. 
        - <= operator tests whether the set to its left is an improper subset of the one to its right—that is, all the elements in the left operand are in the right operand, and the sets might be equal:
        - The > operator tests whether the set to its left is a proper superset of the one to its right—that is, all the elements in the right operand are in the left operand, and the left operand has more elements:
        - The >= operator tests whether the set to its left is an improper superset of the one to its right—that is, all the elements in the right operand are in the left operand, and the sets might be equal:

In [33]:
{1, 3, 5}.issuperset({3, 5, 1}) #another way to check if a set is a superset. Use 'issubset' for subsets

True

In [35]:
{1, 3, 5} | {2, 3, 4} #to calculate the union or you can use '.union()'. Example: {1, 3, 5}.union({2, 3, 4})

{1, 2, 3, 4, 5}

In [39]:
{1, 3, 5} & {2, 3, 4,5,6} #to calculate the intersection or you can use '.intersection()'

{3, 5}

In [42]:
{1, 3, 5} - {2, 3, 4,5,6} #to calculate the difference. Difference is the elements that contain in left operand but not in the right operand
# You can also use '.difference()'

{1}

In [45]:
{1, 3, 5} ^ {2, 3, 4,5,6}

#The symmetric difference between two sets is a set consisting of the elements of both sets that are not in common with one another.
# You can also use '.symmetric_difference()'

{1, 2, 4, 6}

In [47]:
{1, 3, 5}.isdisjoint({2, 3, 4,5,6}) #disjoint is when both sets don't have any elements in common

False